.fixed{
  position: fixed;
}

.indent{
  margin-left:.75rem;
}

.indentBig{
  padding-left:1.5rem;
}

.post p, .post ul, .post ol{
  margin-bottom:0;
}

.post-title{
  margin-bottom: 0;
}

.post-date{
  margin-top: 0;
  margin-bottom: 0;
}

.post{
  margin-bottom:2rem;
}

h1{
  font-size:1.25rem;
}

.float-L{
  float:left;
}

.float-R{
  float:right;
}

.padding1{
  padding:.75rem;
}

.padding2{
  padding:1.5rem;
}

.womIMG{
  margin-left:-10rem;
}
