.fixed{
  position: fixed;
}

.indent{
  margin-left:.75rem;
}

.indentBig{
  padding-left:1.5rem;
}

.post p, .post ul, .post ol{
  margin-bottom:0 !important;
}

.post-title{
  margin-bottom: 0 !important;
}

.post-date{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.post{
  margin-bottom:2rem !important;
}