extends ./_template.pug

block link
  -var selected = 'calendar';

block content
  #post-45.post_box.top
    .headline_area
      h1 Calendar
    .format_text
      #em-wrapper
        h3 Click to continue to our EventBrite event!
        p
          a(href='https://www.eventbrite.com/e/thinkubator-innovation-studio-presents-lead2015-leadership-conference-mar-30-31-registration-15500060097?ref=eweb')
            br
            img(src='http://thinkubators.com/wp-content/uploads/LEAD-2015-Eventbrite-Page.png', height='100%', width='100%')
            br
        //-p
            <div style="width:100%; height:100%; text-align:left;" ><iframe  src="https://www.eventbrite.com/e/thinkubator-innovation-studio-presents-lead2015-leadership-conference-mar-30-31-registration-15500060097?ref=eweb" frameborder="0" height="1000" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
            <div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/eweb">Event registration</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="https://www.eventbrite.com/e/thinkubator-innovation-studio-presents-lead2015-leadership-conference-mar-30-31-registration-15500060097?ref=eweb">Thinkubator Innovation Studio Presents LEAD2015 Leadership Conference| Mar 30 </a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=eweb">Eventbrite</a></div>
            </div>
          br