extends ./_template.pug

block content
  #post-37.post_box.top
    .headline_area
      h2 The Thinkubator: Inspiring Minds Since 1989
    .format_text
      .addthis_toolbox.addthis_default_style.home
        a.addthis_button_compact
        a.addthis_button_preferred_1
        a.addthis_button_preferred_2
        a.addthis_button_preferred_3
        a.addthis_button_preferred_4
        a.addthis_button_google_plusone
      h2 Watch these Videos to discover the Thinkubator Experience
      h3 Energetic 60-Second Tour
      p
        iframe(width='500', height='281', src='https://www.youtube.com/embed/mszirIf_ID8?feature=oembed', frameborder='0', allowfullscreen='')
      h3 Relaxing 4-Minute Tour
      p
        iframe(width='500', height='281', src='https://www.youtube.com/embed/1UlglWL0tTY?feature=oembed', frameborder='0', allowfullscreen='')
      h3 View 90-Second Time-Lapse of 2-Day Event
      p
        iframe(width='500', height='281', src='https://www.youtube.com/embed/HLjExbfnrhI?feature=oembed', frameborder='0', allowfullscreen='')
      p
        | 312 N. May, Suite 6D, Chicago, IL 60607, USA
        br
        | 312.829.BULB (2852) · 
        a(href='mailto:info@thinkubators.com') Info@Thinkubators.com
      h3(style='text-align: center;')
        strong
          | Take a break from traditional conference, hotel or “bored” rooms and experience Chicago’s “Most Creative Meeting Space”.
      p
        | Since 1989, thousands of people have enjoyed innovative and creative meetings, workshops, facilitations, retreats and special events at our comfortable, unique and thought-provoking Thinkubator.
      p(style='text-align: center;')
        strong
          | “If you want people to think outside the box, do NOT put their brains in a box.”
          br
        | - Gerald “Solutionman” Haman, Thinkubator Founder
      p
        | Located in downtown Chicago, a mile from the Loop and two miles from the Magnificent Mile, the Thinkubator offers comfortable and interesting furniture in an elegant loft environment. Our dazzling skyline view of Chicago and café-style  seating on our private rooftop deck inspires blue-sky thinking and offers a refreshing brain break to guests. Too cold to be outside? Enjoy a crackling wood-burning fire while the piano player plays music in the background or sing your favorite Karaoke songs under our spinning disco ball! Get more work done while having fun! Stimulate your team’s brainpower with our facilitation resources, the latest AV technology and innovation  tools that deliver meaningful and measurable results.
      h3 Rent Our Space, Borrow Our Brains, or Use Your Own!
      p
        | Bring your own facilitator or moderator or ask us about our Certified Innovation Facilitators, Trainers & Designers. We’re recommended by and featured in 
        strong
          em Fast Company, Investors Business Daily, Crain’s Chicago Business, 
          | CLTV & HGTV
      h3 Benchmark the Brains of the Best Innovators Who Have Used the Thinkubator
      p
        | Many of the world’s most innovative companies have spent time at The Thinkubator and created thousands of breakthrough ideas. Over 10,000 innovators from the following organizations experienced the Thinkubator.
      ul#slider1(style='width: 660px; overflow: hidden;')
        li
          img(style='width: 3000px; height: 75px;', title='Customer Logos', src='./_img/logos.png', alt='SolutionPeople Customers')
        //li
          img(style='width: 3000px; height: 75px;', title='Customer Logos', src='images/logos.png', alt='SolutionPeople Customers')
      #slider2
      p
        script(type='text/javascript').
          // <![CDATA[
          $(document).ready(function(){ 	$('#slider1').bxSlider({ 			ticker: true, 			tickerSpeed: 14000 	}); });
          // ]]&gt;
      .addthis_toolbox.addthis_default_style
        a.addthis_button_compact
        a.addthis_button_preferred_1
        a.addthis_button_preferred_2
        a.addthis_button_preferred_3
        a.addthis_button_preferred_4
        a.addthis_button_google_plusone
      script(type='text/javascript', src='http://s7.addthis.com/js/250/addthis_widget.js#pubid=swanzai')
    #ie_clear