extends ./_template.pug

block link
  -var selected = 'news';

block content
  #post-559.post_box.top.post-559.post.type-post.status-publish.format-standard.hentry.category-news
    .headline_area
      h2.entry-title
        a(href='http://thinkubators.com/news/innovate-or-die-trying-think-outside-the-office/', rel='bookmark', title='Permanent link to Innovate or Die Trying: Think Outside the Office') Innovate or Die Trying: Think Outside the Office
    .format_text.entry-content
      p
        | [from 
        em Training 
        | magazine]
        br
        span
          img.alignright.size-full.wp-image-561(title='Training Magazine article on the Thinkubator', src='http://thinkubators.com/wp-content/uploads/Training_Magazine-article-on-the-Thinkubator.jpg', alt='', width='251', height='598')
      p
        | If you want to physically take workers away from the environment that’s been causing their stagnation, consider the Chicago based Thinkubator. Here there’s an atmosphere founder and President Gerald Haman says is conducive to novel thinking. Owned and operated innovation training and development firm Solution People in Chicago, which Haman also heads, the facility includes giant chair sculptures, disco lighting, a sound system, a professional karaoke system and a rooftop sun deck with panoramic skyline views of the city. “Many people focus innovation and creativity training on what happens inside of people’s minds,” Haman says. “I’ve found that it’s also important to pay attention to what goes on outside of people’s heads, thereby looking at the physical environment.”
      p
        | The goal, he stresses, is to make sure participants feel comfortable, inspired, and stimulated. To do this, the venue was created with what Haman calls the “four Ps of innovative environments:” the personal space, partnership space, public space, and personal computer (PC) space. Each of these areas, he says, serves a key purpose in the creativity process. The wide-ranging view of Chicago that can be seen from the “public spaces” rooftop sundeck for example, helps employees accomplish what Haman refers to as “blue sky thinking,” or thinking that emphasize new possibilities rather than limitations. The partnership space enables participants to break up into small work groups or ”innovation dream teams.” The personal spaces allow workers to relax and concentrate on challenges individually. The PC space gives companies the option of incorporating learning software, such as an electronic version of Haman’s KnowBrainer brainstorming card deck tool, or other computer programs, into their session.
      p
        | The creative exercises conducted at the Thinkubator also can be revealing of workers’ personalities. Haman says, for instance, you can learn a lot by enabling people you’ve only known in an office setting to sing karaoke. “We’ve found that the people who are willing to sing karaoke,” he notes, “are the ones who are willing to take risks and generate more ideas.” -M.W.
  #post-554.post_box.post-554.post.type-post.status-publish.format-standard.hentry.category-news
    .headline_area
      h2.entry-title
        a(href='http://thinkubators.com/news/making-your-environment-inspirational/', rel='bookmark', title='Permanent link to Making Your Environment Inspirational') Making Your Environment Inspirational
    .format_text.entry-content
      p
        img.aligncenter.size-full.wp-image-555(title="Investor's Business Daily", src='http://thinkubators.com/wp-content/uploads/id-e1311614582996.jpg', alt='', width='600', height='52', srcset='http://thinkubators.com/wp-content/uploads/id-e1311614582996.jpg 600w, http://thinkubators.com/wp-content/uploads/id-e1311614582996-300x26.jpg 300w', sizes='(max-width: 600px) 100vw, 600px')
        |  Can a person’s physical environment affect innovation?
      p
        | Alex F. Osborn, a pioneer in the field of deliberate creativity, believed the answer was a resounding “Yes.”
      p
        | “Urban life tends to sap imaginative strength in all except the few who work in the arts and in creative phases of business and science,” he wrote in ‘Applied Imagination: Principles and procedures of Creative Problem-Solving,” first published in 1953.
      p
        | To counter the negative effects of this “urbanization,” Osborn challenged people to take deliberate steps “to conserve and develop the imaginative talents with which we are born.”
      p
        | One natural step: Redesign and deinstitutionalize the work environment so that it fosters creative thinking.
      p
        | “I have long recognized that the external environment influences what goes on inside the head,” said Gerald “Solutionman” Haman, a creativity expert based in Chicago. Thousands of business people who’ve visited Haman’s ‘Thinkubator” – a creative meeting space reminiscent of a colorful kindergarten playroom stocked with adult-size gadgets, toys, tools, fun furniture and supplies – say they’ve saved 40% to 60% of their time generating ideas in the creative environment vs. the cold office space in which they spend their days.
      p
        strong
          | Why do people find the Thinkubator’s environment so stimulating? In part because the meeting space excites all five senses. Among other things, it features:
      blockquote
        p
          em
            strong
              | ▪ Ergonomically designed chairs – that simulates floating, simultaneously soothing and stimulating the mind.
        p
          em
            strong
              | ▪ Hundreds of toys and creativity tools – from modeling clay to crayons to wall-size, printer-ready whiteboards.
        p
          em
            strong ▪ The relaxing scent of lavender, peppermint and other aromas.
        p
          em
            strong
              | ▪ A variety of sounds, including music that brainstormers can make themselves using the Thinkubator’s grand piano or karaoke machines.
      p
        | “By fostering a diversity of stimulation, you get more diversity of thought and a wider variety of creative ideas,” Haman said.
      p
        strong  
      p
        strong By Linda Stockman-Vines
  #post-543.post_box.post-543.post.type-post.status-publish.format-standard.hentry.category-news
    .headline_area
      h2.entry-title
        a(href='http://thinkubators.com/news/thinkubator-ranked-as-one-of-chicagos-best-meeting-spaces-for-idea-generation-by-crains-chicago-business/', rel='bookmark', title='Permanent link to Thinkubator Ranked as one of Chicago’s Best Meeting Spaces for Idea-Generation by Crain’s Chicago Business')
          | Thinkubator Ranked as one of Chicago’s Best Meeting Spaces for Idea-Generation by Crain’s Chicago Business
    .format_text.entry-content
      p
        em
          strong
            | The venue removes employees from their typical office settings and put them in a space that will ignite their imaginations.
      p
        a(title="Thinkubator - One of Chicago's Best Meeting Spaces for Idea-Generation", href='http://www.chicagobusiness.com/article/20100925/ISSUE02/100929931/chicagos-best-meeting-spaces-for-idea-generation', target='_blank')
          img.alignleft(src='http://thinkubators.com/images/crains.png', alt="Crain's Chicago Business")
      p(dir='ltr')
        | [from 
        a(title="Chicago's Best Meeting Spaces for Idea Generation", href='http://www.chicagobusiness.com/article/20100925/ISSUE02/100929931/chicagos-best-meeting-spaces-for-idea-generation', target='_blank') Crain’s ChicagoBusiness.com
        | ]
        br
        | By: Michelle Evans
      h2 THINKUBATOR
      p
        em
          strong Capacity:
        |  The main room can seat 20 to 40 people.
      p
        em
          strong Cost:
        |  A day’s rental is a flat fee of $2,500 to $4,500 and includes supplies and technology services. Guests can order breakfast, lunch or dinner from any number of nearby restaurants for an additional fee.
      p
        em
          strong
            a(href='http://thinkubators.com/wp-content/uploads/MG_0597.jpg')
              img.alignright.size-thumbnail.wp-image-528(title='_MG_0597', src='http://thinkubators.com/wp-content/uploads/MG_0597-300x300.jpg', alt='', width='300', height='300')
            | Why:
        |  The Thinkubator studio is a creative haven in the West Loop neighborhood of Fulton Market. Its loft-style space has 19-foot ceilings, a winding staircase to the building’s rooftop terrace, exposed brick walls and large windows that showcase the Chicago skyline. The idea is to turn the typical work environment on its side. “Cubical creativity is such a big challenge,” says President Gerald Haman, whose primary business is an innovation and creativity coaching company called SolutionPeople. “The size of people’s ideas is proportional to the size of perceived space they think they have to think.” Mr. Haman uses functional art in the shape of question marks, red lip-shaped chairs and an Einstein-themed bathroom to invoke guests’ creative side. Staff even will arrange for the Good Humor ice cream truck to stop by for a surprise mid-afternoon snack to spark memories of childhood. In the future, The Thinkubator will expand to include a 1,500-square-foot space called the Aha Spa, which will be decorated with themes from nature.