extends ./_template.pug

block link
  -var selected = 'rentfaq';

block content
  #post-154.post_box.top
    .headline_area
      h1 Get more work done while having fun at the Thinkubator!
    .format_text
      p  
      p
        strong Daily Rental: 
        | $4000/day (10 Hours)
        br
        strong 2-3 Day Multiple Day Rentals:
        |  $3500/day
        br
        strong 4 + Multiple Day Rentals: 
        | $3300/day
        br
        | Includes access as early as 7:00AM to accommodate any set-up needs and an end time of 5:30PM
        br
        | Any additional time is billed at $100/hour
        br
        strong Half-Day Rental
        |  $2500 (4 hours or less)
      p
        strong.hi How much space will I have for my group?
      p
        a(href='http://thinkubators.com/wp-content/uploads/UPDATE-Thinkubator_Floorplan_WEB_07-31-12_Thinkubator.jpg')
          img.alignright.size-medium.wp-image-1107(title='Thinkubator Floorplan', src='http://thinkubators.com/wp-content/uploads/UPDATE-Thinkubator_Floorplan_WEB_07-31-12_Thinkubator-300x203.jpg', alt='', width='300', height='203', srcset='http://thinkubators.com/wp-content/uploads/UPDATE-Thinkubator_Floorplan_WEB_07-31-12_Thinkubator-300x203.jpg 300w, http://thinkubators.com/wp-content/uploads/UPDATE-Thinkubator_Floorplan_WEB_07-31-12_Thinkubator-1024x694.jpg 1024w', sizes='(max-width: 300px) 100vw, 300px')
        strong
          | Over 5,000 square feet of space! Enjoy our Skyline Room, Solutionarium, Lounge Loft, Full Kitchen, 2 Bathrooms, Technology & Entertainment Resources, Basic Brainstorming Supplies, Hot & Cold Beverage Package and access to our Private Rooftop Deck!
      p
        strong Skyline Room:
        br
        | – Features over 2,000 sf of open space
        br
        | – Comfortably accommodates up to 40 guests
        br
        | – Includes Facilitation area (30’ 28’) with 10 monitors for optimal viewing
        br
        | – Dining/Facilitation Area (17’ x 22’) includes table that seats up to 12
        br
        | – Dining/Facilitation Area has 3 monitors for viewing
        br
        | – Beautiful view of Chicago skyline from five 10′ x 10’ windows
        br
        | – Wood-burning fireplace
        br
        | – Interesting furniture
        br
        | – Portable coffee tables and rolling computer desks
        br
        | -18’ ceilings to inspire blue-sky thinking!
      p
        strong Lounge Loft Breakout Room
        br
        | – 12’ x 10’, overlooks our “Skyline Room”
        br
        | – Ideal breakout for 4-5, has a lower ceiling at 6’
      p
        strong.hi If the weather is nice, can we dine or work outside?
        br
        strong Yes, we have a beautiful Private Rooftop Deck which features:
        br
        | – Panoramic view of downtown Chicago
        br
        | – Café-style seating for 30
      p
        strong.hi Are any other amenities included?
        br
        strong Other Amenities available for your use include:
        br
        | – Access to a full kitchen
        br
        | – 2 bathrooms
      p
        strong.hi Do you offer any support staff to our group?
        br
        strong Yes, you will have a Host/Hostess for the day to:
        br
        | – Attend to guests’ needs
        br
        | – Receive any deliveries
        br
        | – Set up/clean up any non-catered food
        br
        | – Maintain cleanliness of space throughout the day
      p
        strong.hi What technology resources are included in my rental?
        br
        strong Technology Resources include:
        br
        | – 12 LCD/LED television/monitors: 80”, 70”,  60”
        br
        | – Wireless internet access
        br
        | – A staff member to help you navigate your way through any of our resource or entertainment options the day of your rental!
      p
        strong.hi Do you have any fun resources for us to enjoy during any breaks?
        br
        strong Yes, the following Entertainment Options are included:
        br
        | – Grand Player Piano with selection of 4000 songs
        br
        | – Comcast/Xfinity Digital Cable
        br
        | – Spotify Music License
        br
        | – Sirius Satellite Music
        br
        | – Wireless Karaoke with over 10000 songs
        br
        | – XBOX and PlayStation
        br
        | – Apple TV
        br
        | – Retro video games including Pacman, Frogger, Centipede & Pong
      p
        strong.hi We don’t want to drag too much stuff, what about flip chart stands and supplies?
        br
        strong We offer Basic Brainstorming Supplies for your use including:
        br
        | –  6 flip chart stands & 2 display easels
        br
        | – Flip charts & Post-its
        br
        | – Markers, pens and painter’s tape for posting on windows and walls
      p
        strong.hi We’ll be thirsty, what about beverages?
        br
        strong Enjoy our Unlimited Hot & Cold Beverage Package: 
        br
        | – Diet and regular soda
        br
        | – Reg & Decaf Coffee
        br
        | – Tea
        br
        | – Bottled Water
      p
        strong.hi We’ll be hungry, what about breakfast or lunch?
        br
        strong
          | You are welcome to use any caterer of your choice or order from any local restaurant.
        br
        | You can even bring your own food and any additional beverages!
        br
        | We do not arrange your food orders or plan your meals, but offer the following suggestions that our guests have enjoyed over the years.
      p
        strong Catering Options:
        br
        | Use ANY catering company of your choice or have the Thinkubator provide an all-inclusive package that ranges from $99 to $199 per person.
      p
        strong.hi We are on a budget, what are some other food options?
        br
        strong
          | Order online or call any local restaurant of your choice for budget friendly options.
        br
        | Enjoy sandwiches from Jimmy John’s, Potbelly, Corner Bakery or Bari Foods, or try some Chicago Style Pizza from Lou Malnati’s, Giordanos or Gino’s.
      p
        strong Please have all food deliveries arrive no earlier than 7:00AM. 
        br
        strong Deliver to:
        br
        | SolutionPeople
        br
        | 312 N. May Street, Suite 6D
        br
        | Chicago, IL 60607
        br
        | 312-829-2852
      p
        strong.hi We might still be hungry, what about snacks?
        br
        | Order a snack to be delivered with your lunch order to enjoy later, bring your own or purchase one from us:
      p
        strong Our unlimited “Brain Food” package, $250/for up to 30 guests:
        br
        | – Breakfast bars
        br
        | – Assorted Candy
        br
        | – Nut and Trail Mix
        br
        | – An Assortment of Chips
      p
        strong Please note: 
        | that no alcohol may be served unless a licensed caterer has made specific arrangements with us in advance.
      p
        strong.hi Where do we park and how do we get there?
        br
        strong Parking & Directions:
        br
        | There is a 15 minute loading zone (please put on your hazards) in front of the building for any quick site visits or unloading needs. We are located at the building’s north entrance with the green awning that reads, 312 Warehouse Lofts (closest to Carroll Street).
      p
        | We are located 10 blocks west of Halsted, between Lake Street and Grand Avenue. Please visit Mapquest or Google Maps or consult with your smartphone for specific directions from your location.
      p
        iframe(src='http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=The+Thinkubator+Innovation+Center,+312+N.+May+Street,+Chicago,+IL+60607&aq=1&sll=41.887512,-87.656062&sspn=0.006406,0.014913&ie=UTF8&hq=The+Thinkubator+Innovation+Center,&hnear=312+N+May+St,+Chicago,+Cook,+Illinois+60607&z=13&cid=17671049812879565268&iwloc=A&output=embed', width='640', height='420', frameborder='0', marginwidth='0', marginheight='0', scrolling='no')
        br
        small
          a(style='color: #0000ff; text-align: left;', href='http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=The+Thinkubator+Innovation+Center,+312+N.+May+Street,+Chicago,+IL+60607&aq=1&sll=41.887512,-87.656062&sspn=0.006406,0.014913&ie=UTF8&hq=The+Thinkubator+Innovation+Center,&hnear=312+N+May+St,+Chicago,+Cook,+Illinois+60607&z=13&cid=17671049812879565268&iwloc=A&source=embed', target='_new') View larger map
      p
        strong.hi What about public transportation?
        br
        strong
          | The New Green Line is 2 blocks away
          br
          | The Metra train stop at Ogilvie
        | , (500 West Madison), is one mile away, is a 5-6 minute taxi ride, taxi’s are readily available outside the station, or a 20-25 minute walk.
        br
        strong The Blue Line Chicago Ave
        | . stop (Chicago/Milwaukee/Ogden intersection)
        br
        | is .7 miles away, a 10-15-minute walk or 4 minute taxi ride, if available.
        br
        strong The Blue Line Grand Ave.
        |  stop (Grand/Milwaukee/Halsted intersection) is .7 miles away, a 10-15-minute walk or a 4 minute taxi ride, if available.
        br
        | There is a Grand Ave. CTA bus at this location that will take you to May Street which is approximately 8 blocks west.
      p
        strong
          | Please visit 
          a(href='http://transitchicago.com', target='_blank') transitchicago.com
          |  to help you plan your trip.
      p
        strong Yellow Taxi
        |  is available 24/7 at 312-829-4222.
      p
        | You may schedule a specific pick-up time as long as it is at least 30 minutes in advance. Flying home? Check your flight time and schedule your pick-up accordingly.
      p
        | To schedule a pick-up please call and provide your pick-up address, your name and your final destination. Again, we are located at 312 North May Street.  You will receive a call back with your taxi number when your taxi arrives. Most taxis will only wait 5 minutes so please be prepared to leave.
      p
        strong.hi Where we can we stay?
        br
        strong The Thinkbator is an 8-15 minute taxi ride from most downtown Hotels.
        |  We are located a mile from the Loop and two miles from the Magnificent Mile. Visit 
        a(href='http://expedia.com', target='_blank') expedia.com
        | , 
        a(href='http://orbitz.com', target='_blank') orbitz.com
        |  or 
        a(href='http://hotrooms.com', target='_blank') hotrooms.com
        |  for last minute hotel deals.
      p
        strong One Final Note!
        br
        | The Thinkubator is located in a 
        strong non-smoking building
        |  smoking is prohibited on our deck, on the catwalks or in our Thinkubator.  Your cooperation is appreciated.
      p
        strong.hi Still have questions?
        br
        | Please call 312-829-2852 or email us at 
        a(href='mailto:info@thinkubators.com', target='_blank') info@thinkubators.com