<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% for each in site.data.nav.internal.content %}
    <a class="sidebar-nav-item" href="">{{ each }}</a>
    {%comment%}{% if page.url == each.url %} active{% endif %}{%endcomment%}
    {% endfor %}
    
    {% comment %}
    <span class="sidebar-nav-item">External links</span>
    <a class="sidebar-nav-item indent" href='{{ site.github.repo }}' target='_blank'>GitHub</a>
    <span class="sidebar-nav-item">Currently v{{ site.github.version }}</span>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
    {% endcomment %}
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
