<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.author.nick }} Digital</p>
  </div>

  <nav class="sidebar-nav">
    {% for each in site.data.nav.internal.content %}
    <a class="sidebar-nav-item" href="{{ site.url }}{{ site.baseurl }}{% if each != site.data.nav.internal.content[0] %}{{ each }}/{% endif %}">{{ each| capitalize}}</a>
      {% if each == 'all' %}
        {% for each1 in site.data.nav.internal.all %}
          {% if each1 == site.data.nav.internal.all[0] %}
            <span class="sidebar-nav-item indent">{{each1 | capitalize}}</span>
          {% else %}
    <a class="sidebar-nav-item indent" href='{{ site.url }}{{ site.baseurl }}{{ each1 }}/'>{{each1 | capitalize}}</a>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  </nav>

  <div class="sidebar-item">
    <!--<p>{{ site.description }}</p>-->
    <p>Build with <a href='{{site.product.website}}'{{site.link.ext}}>{{site.product.name}}</a>By<a href='{{site.dev.website}}'{{site.link.ext}}>{{site.dev.name}}</a><br>
    &copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
