---
layout: page
title: All
published: true
---





<div class="posts">
  {% for post in site.posts %}
  <div class="post">
    <span class="post-date indent">{{post.dateL}}</span>
    <h1 class="post-title">
      <a href="{{ site.url }}{{ site.baseurl }}{{ post.url | remove_first:'/' }}">
        {{ post.title }}
      </a>
    </h1>
    <a href='{{ site.baseurl}}/{{post.category}}/' class='indent'>{{post.category}}</a>

    {% comment %}<span class="post-date">{{ post.date | date_to_string }}</span>{% endcomment %}
  <!--<span class="post-date">{{post.dateL}}</span>
  <span>{{post.category}}</span>-->
    <!--{{ post.content }}-->
  </div>
  {% endfor %}
</div>

{% comment %}
{% include paginate.html %}
{% endcomment %}
