article#about
  // p.em I work with entrepreneurs and small businesses who are ready to create a stunning website and give their brand a fresh, new look in the digital space.
    button clients
  // p.em websites are my marriage of art and enterprise, whats yours? lets collaborate and take each other to the next level.
  // p.em me = websites = art & enterprise
  // p.em ill make a website for your art & enterprise
  // p.em my websites are the children of art and enterprise, what would you say is yours?
  // p.em lets collaborate and see whats on the next plateau
  // p.em i am an artistic entrepreneur, i make websites. how can we help each other?
  // i can provide you with a digital medium 
  // p.em i provide websites, the digital outlet for advertising and marketing your brand. what do you have to bring to the table? would you like to collaborate?
  // p whats your brand? our collaboration will provide you with a prime digital home for advertising and marketing. lets tell our stories together.
  // p.em websites are the medium for brand advertising and marketing on the web. let me build your brand a digital home
  p.em websites are how you advertise and market your brand on the web. what are you waiting for? lets collaborate.