---
layout: page
title: Resume
published: true
---


2
<hr>
<ul>
  {% for major in site.data.resume %}
  <h2>{{ major[0] }}</h2>
    <ul>
    {% for minor in major[1] %}
      <li>{{ minor.size }}:{{ minor[1].size }}</li>
      <li>{{ minor[0] }}:{{ minor[1] }}</li>
      {% if minor[1].size > 1 %}
        <ol>
        {% for subMinor in minor[1] %}
          <li>{{subMinor}}</li>
        {% endfor %}
        </ol>
      {% else %}
        <ul>
          <li>{{ minor[1] }}</li>
        <ul>
      {% endif %}
    {% endfor %}
    </ul>
  {% endfor %}
</ul>
