---
layout: page
title: Resume
published: true
---


1
<hr>
<ul>
  {% for major in site.data.resume %}
  <h2>{{ forloop.length }}| {{ major[0] }}</h2>
    <ul>
    {% for minor in major[1] %}
      <li>{{ forloop.length }}| {{ minor[0] }}:{{ minor[1] }}</li>
      
        <ol>
        {% for subMinor in minor[1] %}
          {% if forloop.length > 1 %}
          <li>{{ forloop.length }}| {{subMinor[0]}}:{{subMinor[1]}}</li>
          {% endif %}
        {% endfor %}
        </ol>
    {% endfor %}
    </ul>
  {% endfor %}
</ul>
