extends ./_template.pug

block css
  link(rel="stylesheet" href="/_style/resume.css")

block content
  div.right
    i.medalion
    // img(src='//i.imgur.com/6GLw25um.jpg')
    p.title-name.caps tommy williams
    p.block_inline
      span.title-header website
      span wommy.io
    p.block_inline
      span.title-header email
      span tom@technomad.media
    p.block_inline
      span.title-header phone
      span 312 818 9011
    p.block_inline
      span.title-header location
      span royal oak, mi
  div
    div
      p.title-super.caps skills
      div.group1
        p.title-major.caps DEVELOPMENT
        p html5 css3 javascript rails python php
        p templating - jade haml liquid yaml markdown
        p scss less postcss cssnext - bemit oocss
        p node es6 npm json - webpack react riot
        p.title-major.caps DESIGN
        p mockups wireframes sitemaps gui
        p balsamiq axure sketch atomic
        p rapid prototyping - agile scrum
        p test creation, data collection, statistical analysis
        p.title-major.caps DATABASE
        p nosql mysql mariadb postgresql
    div
      p.title-super.caps experience
      div.group1
        p.title-major 2015 JUNE=>OCTOBER
        p Original Graphics Printing - branding: tshirts & signage
        p Full-Stack Developer - client-based custom websites
        p.title-major 2015 JANUARY=>JUNE
        p Solution People - creative space management, digital marketing
        p Web Intern - managed/updated content & code for a 30+ sites
        p.title-major 2010 & ONGOING
        p freelance web design & development, 13+ clients
        p identifying needs => designing & developing solutions
    div
      p.title-super.caps education
      div.group1
        p.title-major.caps COLUMBIA COLLEGE
        p transferred to
        p.title-major.caps DEPAUL UNIVERSITY
        p graduated: spring 2015
        p bachelor of arts: psychology
        p minor: interactive & social media
        