---
layout: page
title: To Do
published: true
---





<div class="todos">
  <ul>
    <li>{{ site.data.nav.internalJSON.content }}</li>
  </ul>
</div>

<div class="todos">
  {% for format in site.data.todo %}
    <ol class="todo-list">
      <li>1{{format[0]}}</li>
      <li>2{{format[1]}}</li>
      {% for todo in format[1].content %}
        <li class="todo-item">3{{ todo }}</li>
      {% endfor %}
      <li>4{{format[1].content}}</li>
      {% for todo in format[1] %}
        <li class="todo-item">5{{ todo.content }}</li>
      {% endfor %}
    </ol>
  {% endfor %}
</div>

<div class="todos">
  <ol class="todo-list">
    {% for todo in site.data.todo.csv %}
      <li class="todo-item"> - {{todo.content}}</li>
    {% endfor %}
  </ol>
  <ol class="todo-list">
    {% for todo in site.data.todo.yaml.content %}
      <li class="todo-item"> - {{todo}}</li>
    {% endfor %}
    <li>test2</li>
  </ol>
</div>
