article#contact
  h3 contact me
  i phone+#
  i email+address
  form
    input(type='text' name='name' placeholder='name')
    input(type='text' name='email' placeholder='email')
    input(type='text' name='phone' placeholder='phone')
    input(type='text' name='subject' placeholder='subject')
    textarea(name='message' placeholder='message')
    button send