article#process
  p. 
    i create my websites from scratch.
    i work off an acer c720p chromebook.
    my current ide of choice is cloud9.io
    html5:jade/pug
    css3:sass/scss
    javascript:node/es6 