article#youPLUSme
  h3 LET'S CREATE SOMETHING FANTASTIC!
  p Please browse through my options below of how we can work together.
  h4 FULL WEBSITE DESIGN
  p Starting out or looking for a complete redesign? Look no further. We'll work together to make your company stand out online and bring your brand to life. Starting with an initial strategy session, we will cover everything from layout to color scheme and create a frame work for your new site. From there you can typically expect a first draft in 2-3 weeks and your website live a week or 2 after that.
  h4 ONE-ON-ONE
  p Have an idea in mind and would like to work together side by side to bring it to fruition? No problem! One-on-ones are great and can fit small or large project alike. Based on an hourly rate, we will meet and develop your ideas into the website you've always imagined for your business. I design, while you are present for every decision that we make regarding your website.
  h4 4-HOUR INTENSIVE
  p Have a Wix website that is in need of a professional touch? In an intensive 4-hour session with me which can be done together or remotely, I pour my creative juices and give your website the TLC it deserves. Click here to see some before and after websites.
  h4 WEBSITE MAINTENANCE
  p After I've designed your website, we can continue to work together on an on going basis as needed. I offer the option of updates billed at an hourly rate or a monthly retainer fee for  frequent maintenance.